<canvas>The Stage!</canvas>

<div class="divider">
    <ul>
        <li><button id="subscribe">Subscribe</button></li>
        <li><button id="unsubscribe">Unsubscribe</button></li>
        <li><button id="getMonster">Get Monster</button></li>
        <li><button id="attack">Attack</button></li>
    </ul>
</div>

<div id="sector" class="divider">
    <button id="location1">Location 1</button>
    <button id="location2">Location 2</button>
    <button id="location3">Location 3</button>
    <button id="location4">Location 4</button>
</div>

<ul id="eventList"></ul>


<style>
    .divider {
        width: 200px;
        display: inline-block;
    }

    #sector button {
        width: 49%;
    }
</style>

<script type="text/javascript">
    $(function () 
    {
        function addPostsList(posts) 
        {
            $.each(posts, function (index)
            {
                var post = posts[index];
                addPost(post);
            });
        }

        function addEvent(event) {
            console.log(event);
            event = JSON.parse(event);

            var appendString;
            if (event.Deltas[0])
            {
                if (event.Deltas[0].Key === "NewBackground")
                {
                    $("canvas").css("background", "url(../../images/l/" + event.Deltas[0].Value);
                }
                appendString = '<li>' + event.Actor.Name + " has " + event.Deltas[0].Key + " and it was " + event.Deltas[0].Value + '</li><br>';
            }

            if (event.Message)
            {
                appendString += '<li>' + "The message was: " + event.Message + '</li><br>';
            }

            if (event.Deltas[1] && event.Deltas[1].Key === "NewBackground")
            {
                console.log("New background for location");
                $("canvas").css("background", "url(../../images/l/" + event.Deltas[1].Value);
            }

            $("#eventList").append(appendString);
        }

        var playerId = "1";
        var location = "001001001001";
        var newLocation = "001001001002";
        var monsterId = "123";
        var subscribeEvent = "12subscribe|" + location + playerId;
        var unsubscribeEvent = "12unsubscribe|" + location + playerId;
        var getMonsterEvent = "31getinfo|" + newLocation + playerId + "/" + newLocation + monsterId;
        var attackEvent = "12attack|" + newLocation + playerId + "/" + newLocation + monsterId;
        var changeLocationEvent = "12changeLocation|" + location + playerId + "/";

        let gameConnection = new signalR.HubConnectionBuilder().withUrl("/gameHub").configureLogging(signalR.LogLevel.Information).build();
        let playerConnection = new signalR.HubConnectionBuilder().withUrl("/playerHub").configureLogging(signalR.LogLevel.Information).build();
        let monsterConnection = new signalR.HubConnectionBuilder().withUrl("/monsterHub").configureLogging(signalR.LogLevel.Information).build();
        gameConnection.start().catch(err => console.log(err));
        playerConnection.start().catch(err => console.log(err));
        monsterConnection.start().catch(err => console.log(err));

        playerConnection.on("broadcast", addEvent);
        playerConnection.on("connected", (a) => console.log("Connected!", a));
        playerConnection.on("disconnected", (a) => console.log("Disconnected!", a));

        $("#subscribe").click(function ()
        {
            playerConnection.invoke("subscribe", subscribeEvent);
        });

        $("#unsubscribe").click(function ()
        {
            playerConnection.invoke("unsubscribe", unsubscribeEvent);
        });

        $("#getMonster").click(function ()
        {
            monsterConnection.invoke("getInfo", getMonsterEvent);
        });

        $("#attack").click(function () {
            playerConnection.invoke("attack", attackEvent);
        });

        $("#location1").click(function () { changeLocation("001001001001"); });

        $("#location2").click(function () { changeLocation("001001001002"); });

        $("#location3").click(function () { changeLocation("001001001003"); });

        $("#location4").click(function () { changeLocation("001001001004"); });
            
        function changeLocation(loc)
        {
            playerConnection.invoke("changeLocation", changeLocationEvent + loc);
        }
    });
</script>

<div>Controls</div><!-- Todo -->
