<canvas>The Stage!</canvas>
   
<button id="subscribe">Subscribe</button>
<button id="unsubscribe">Unsubscribe</button>
<button id="getMonster">Get Monster</button>

<ul id="eventList"></ul>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js"></script>
<script src="/signalr/hubs"></script>
<script type="text/javascript">
      
        function addPostsList(posts) {
            $.each(posts, function (index) {
                var post = posts[index];
                addPost(post);
            });
        }

        function addEvent(event) {
            
            event = JSON.parse(event);
            var appendString;
            if (event.Deltas[0]) {
                appendString = '<li>' + event.Actor.Name + " has " + event.Deltas[0].Key + " and it was " + event.Deltas[0].Value + '</li><br>'
            } else {
                event.Message = JSON.parse(event.Message);
                appendString = '<li>' + event.Message.Name + " - " + event.Message.Description + ", " + event.Message.HitPoints.Current +"/" +event.Message.HitPoints.Current +'hp </li><br>'

            }
            $("#eventList").append(appendString);
        }

        var playerId = "P123";
        var monsterId = "M123";
        var subscribeEvent = "subscribe;" + playerId;
        var unsubscribeEvent = "unsubscribe;" + playerId;
        var getMonsterEvent = "getMonster;" + playerId +";" +monsterId;

        function pushedContent(content) {   
            console.log("Incoming data: ", content);
        }

        var hub = $.connection.game;

        hub.client.Broadcast = addEvent;

        $("#subscribe").click(function () {
            console.log("Has teh sub");
            hub.server.push(subscribeEvent);
        });

        $("#unsubscribe").click(function () {
            console.log("Has teh unsub");
            hub.server.push(unsubscribeEvent);
        });

        $("#getMonster").click(function () {
            console.log("Has teh monster");
            hub.server.push(getMonsterEvent);
        });

        $.connection.hub.logging = true;
        $.connection.hub.start();

</script>
@*<script type="text/javascript">
        $.ajax({
            url: '/Api/Posts/',
            method: 'GET',
            dataType: 'JSON',
            success: addPostsList
        });

        function addPostsList(posts) {
            $.each(posts, function (index) {
                var post = posts[index];
                addPost(post);
            });
        }

        function addPost(post) {
            $("#postsList").append(
                    '<li><b>' + post.userName + '</b><br>' + post.text + '</li><br>'
                 );
        }

        var hub = $.connection.postsHub;

        hub.client.publishPost = addPost;

        $("#publishPostButton").click(function () {

            var post = {
                userName: $("#userNameInput").val() || "Guest",
                text: $("#textInput").val()
            };
            $.ajax({
                url: '/Api/Posts/AddPost',
                method: 'POST',
                data: post
            });
        });

        $.connection.hub.logging = true;
        $.connection.hub.start();
</script>*@

<div>Controls</div><!-- Todo -->
