
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Credentials

<h2>Hello - can you hear me?</h2>
@using (Html.BeginForm("Login", "Main", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Email)
    @Html.PasswordFor(model => model.Password)
    <input type="submit" />
}