<canvas>The Stage!</canvas>
   
<button id="subscribe">Subscribe</button>
<button id="unsubscribe">Unsubscribe</button>
<button id="getMonster">Get Monster</button>
<button id="move">Move</button>
<button id="move2">go back</button>

<ul id="eventList"></ul>

<script type="text/javascript">
    $(function () {
        function addPostsList(posts) {
            $.each(posts, function (index) {
                var post = posts[index];
                addPost(post);
            });
        }

        function addEvent(event) {
            console.log(event);
            event = JSON.parse(event);
            
            var appendString;
            if (event.Deltas[0])
            {
                appendString = '<li>' + event.Actor.Name + " has " + event.Deltas[0].Key + " and it was " + event.Deltas[0].Value + '</li><br>'
            } 

            if (event.Message)
            {
                appendString += '<li>' + "The message was: " + event.Message +'</li><br>'
            }

            $("#eventList").append(appendString);
        }

        var playerId = "123";
        var location = "001001001001";
        var newLocation = "001001001002";
        var monsterId = "123";
        var subscribeEvent = "12subscribe|" + location + playerId;
        var unsubscribeEvent = "12unsubscribe|" + location + playerId;
        var getMonsterEvent = "31getinfo|" + location + playerId + "/" + location + monsterId;
        var changeLocationEvent = "12changeLocation|" + location + playerId + "/" + newLocation;
        var changeLocationEvent2 = "12changeLocation|" + newLocation + playerId + "/" + location;
        //var getLocationEvent = "11getStatus" +  

        function pushedContent(content) {
            console.log("Incoming data: ", content);
        }

        let playerConnection = new signalR.HttpConnection('http://localhost:1337/playerHub');
        let gameConnection = new signalR.HttpConnection('http://localhost:1337/gameHub');
        let monsterConnection = new signalR.HttpConnection('http://localhost:1337/monsterHub');
        var playerHub = new signalR.HubConnection(playerConnection);
        var gameHub = new signalR.HubConnection(gameConnection);
        var monsterHub = new signalR.HubConnection(monsterConnection);

        playerHub.on("broadcast", addEvent);
        playerHub.on("connected", (a) => console.log(a));
        playerHub.on("disconnected", (a) => console.log(a));

        $("#subscribe").click(function () {
            playerHub.invoke("subscribe", subscribeEvent);
        });

        $("#unsubscribe").click(function () {
            playerHub.invoke("unsubscribe", unsubscribeEvent);
        });

        $("#getMonster").click(function () {
            monsterHub.invoke("getInfo", getMonsterEvent);
        });

        $("#move").click(function () {
            playerHub.invoke("changeLocation", changeLocationEvent)

        })

        $("#move2").click(function () {
            playerHub.invoke("changeLocation", changeLocationEvent2)

        })

        gameHub.start();
        playerHub.start();
        monsterHub.start();
    });
</script>

<div>Controls</div><!-- Todo -->
