<canvas>The Stage!</canvas>
   
<button id="subscribe">Subscribe</button>
<button id="unsubscribe">Unsubscribe</button>
<button id="getMonster">Get Monster</button>

<ul id="eventList"></ul>

<script type="text/javascript">
    $(function () {
        function addPostsList(posts) {
            $.each(posts, function (index) {
                var post = posts[index];
                addPost(post);
            });
        }

        function addEvent(event) {

            event = JSON.parse(event);
            var appendString;
            if (event.Deltas[0]) {
                appendString = '<li>' + event.Actor.Name + " has " + event.Deltas[0].Key + " and it was " + event.Deltas[0].Value + '</li><br>'
            } else {
                event.Message = JSON.parse(event.Message);
                appendString = '<li>' + event.Message.Name + " - " + event.Message.Description + ", " + event.Message.HitPoints.Current + "/" + event.Message.HitPoints.Current + 'hp </li><br>'

            }
            $("#eventList").append(appendString);
        }

        var playerId = "P1111123";
        var monsterId = "M1111123";
        var subscribeEvent = "12subscribe|" + playerId;
        var unsubscribeEvent = "12unsubscribe|" + playerId;
        var getMonsterEvent = "31getinfo|" + playerId + "/" + monsterId;

        function pushedContent(content) {
            console.log("Incoming data: ", content);
        }

        let playerConnection = new signalR.HttpConnection('http://localhost:1337/playerHub');
        let gameConnection = new signalR.HttpConnection('http://localhost:1337/gameHub');
        let monsterConnection = new signalR.HttpConnection('http://localhost:1337/monsterHub');
        var playerHub = new signalR.HubConnection(playerConnection);
        var gameHub = new signalR.HubConnection(gameConnection);
        var monsterHub = new signalR.HubConnection(monsterConnection);

        playerHub.on("broadcast", addEvent);
        playerHub.on("connected", (a) => console.log(a));
        playerHub.on("disconnected", (a) => console.log(a));

        $("#subscribe").click(function () {
            console.log("Has teh sub");
            playerHub.invoke("subscribe", subscribeEvent);
        });

        $("#unsubscribe").click(function () {
            console.log("Has teh unsub");
            playerHub.invoke("unsubscribe", unsubscribeEvent);
        });

        $("#getMonster").click(function () {
            console.log("Has teh monster");
            monsterHub.invoke("getInfo", getMonsterEvent);
        });

        gameHub.start();
        playerHub.start();
        monsterHub.start();
    });
</script>
@*<script type="text/javascript">
        $.ajax({
            url: '/Api/Posts/',
            method: 'GET',
            dataType: 'JSON',
            success: addPostsList
        });

        function addPostsList(posts) {
            $.each(posts, function (index) {
                var post = posts[index];
                addPost(post);
            });
        }

        function addPost(post) {
            $("#postsList").append(
                    '<li><b>' + post.userName + '</b><br>' + post.text + '</li><br>'
                 );
        }

        var hub = $.connection.postsHub;

        hub.client.publishPost = addPost;

        $("#publishPostButton").click(function () {

            var post = {
                userName: $("#userNameInput").val() || "Guest",
                text: $("#textInput").val()
            };
            $.ajax({
                url: '/Api/Posts/AddPost',
                method: 'POST',
                data: post
            });
        });

        $.connection.hub.logging = true;
        $.connection.hub.start();
</script>*@

<div>Controls</div><!-- Todo -->
