<header>
    Menu
    Unwraps on mouseover
    second level has sections
    each section is a logo
    logo on mouseover becomes smaller logo to left and vertical list of links to the right.
    clicking logo goes to main page.
</header>
<main>
    @RenderSection("topMenu");
    <div>The Stage!</div><!-- Todo -->
    <div>Controls</div><!-- Todo -->
</main>
<footer>
</footer>