@model TopMenuModel

<nav>
    <ul>
        <li>
            <img src="~/images/g.svg"/>
            Game
        </li>
        <li>
            <img src="~/images/r.svg" />
            HQ
        </li>
        <li>
            <img src="~/images/b.svg" />
            Map
        </li>
        <li>
            <img src="~/images/u.svg" />
            Store
        </li>
        <li>
            <img src="~/images/w.svg" />    
            Forum
        </li>
        <li>Search field, @Model.Number</li>
        <li>User account</li>
    </ul>
</nav>