@model  FooterModel

<footer>
    <div>
        <ul>
            <li>I think you should go to X next.</li>
            <li>Privacy</li>
            <li>Terms of Use</li>
        </ul>
    </div>
    <div><img alt="Image goes here"/></div>
    <div>Contact</div>
</footer>