@{ Layout = "_Styleguide"; }

<main>
    Footer - some info:<br />
    1. The challenge is to create a small footer that doesn't look cramped.<br />
    2. Only boring default stuff goes here, but it really is necessary. Not only will users probably look here sometimes, but the visual message says the site is legit.
</main>
@await Component.InvokeAsync("Footer")

