@{ Layout = "_Styleguide"; }

@await Component.InvokeAsync("TopMenu")

<main>
    Menu - some info:<br />
    1. This is a game. We don't need text for web crawlers, so images "logo-style" should be default for showing how it works.<br />
    2. The menu needs to be non-intrusive and, quite frankly, light weight. This means no javascript if can be avoided. It also means it needs to unfold on mouseover. <br />
    3. How deep do we need to go? I reckon 7 options is the max for a single layer. Preferably no more than 4-5 so that we can use the same menu on tablets. Increased need for options require 3d level.<br />
    4. Same number goes for sub options. a max of 7 means 49 total destinations. That ought to be enough. 4x4 = 16 and that might be enough as well. <br />
    5. For mobile, stack the sub options vertically instead. mobile users are ok with their hardware interface sucking balls so they wont mind menu covering screen.<br />
    6. All options should be hard coded. There is no reason why we would want dynamic menus.
</main>