<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>

    <!-- TODO: Make loading Async so these can go in footer -->
    <script src="~/lib/signalr/signalr-client-1.0.0-alpha1-final.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <!-- TODO: Create Component for Css loading -->
    <environment names="Development">
        <link rel="stylesheet" href="~/css/global/footer.css" />
        <link rel="stylesheet" href="~/css/global/topMenu.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/output/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @await Component.InvokeAsync("TopMenu")
    <main>
        @RenderBody()
    </main>
    @await Component.InvokeAsync("Footer")

    <!-- TODO: Create Component for JS loading. -->
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
