@import "mixins.less";

footer 
{
    background-color: #CFDBC5;
    display: flex;
    justify-content : space-around;
    flex-basis: 33%;

    div
    {
        padding: 3rem;
        
        ul
        {
            .reset-list-formats            
        }
    }
}
